*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: sans-serif;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  color: rgb(225,225,255);
}

body:hover{
  background-image: linear-gradient(to , #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.new {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
  border-radius: 2em;
  background-color: rgba(0,0,0,0.75);
  width: 30rem;
}

.new2{
	display: flex;
   flex-direction: column;
}
h1 {
  text-align: center;
  margin-bottom: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1:hover{
  color: #d06ba6;
}

h1 span:hover{
  color:#50f3f7;
}

label span{
  display: inline-block;
  font-size: 1.25rem;
  letter-spacing: 2px;
  position: relative;
  bottom: 4rem;
  transition: transform 200ms ease-in-out;
}

input {
  position: relative;
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  background-color: transparent;
  outline: none;
  border: unset;
  border-bottom: 1.5px solid white;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  color: white;
  z-index: 1;
}

button {
  display: inline-block;
  padding: 0.75rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.25em;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  font-weight: 500;
  transition: all 100ms ease-in-out;
  background-color:rgb(212 208 200) ;
}
button a{
  font-family: algerian;
  color: black;
}
button a:hover{
  color: #d06ba6;
}
button:hover {
  background-color:#50f3f7;
}

p {
  text-align: center;
}

input:focus, input:valid {
  border-bottom: 2px solid #d06ba6;;
}

input:focus + label span, input:valid + label span {
  color: #50f3f7;
  transform: translateY(-2rem);
}
.modal-header{
    background-color: rgba(0,0,0,0.75);
}
.modal-header h1{
  font-weight: 600;
  color: #d06ba6;
}
.col-12 input{
  
}